
@{
    ViewBag.Title = "Pacientes";
}

<h2>Pacientes</h2>

<div>
    <div class="table-responsive">
        <table class="table table-bordered table-sm" id="tblPacientes" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>DUI</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>

</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/js/Pacientes.js"></script>